<% content_for(:title, 'bookmarks') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="resulting col-12 col-md-10 text-center">
  
      <h2 class="result"><%= @user.nickname %> liked by</h2>
      
      <% if @bookmarks.empty? %>
        <div class="card no-follow">
          <div class="card-body text-center">
            <p class="follow_text">この日記にいいねしているユーザーはまだいません。</p>
          </div>
        </div>
      <% else %>
        <div class="row justify-content-center">
          <div class="col-md-8 col-lg-6">
            <table class="result-table table table-borderless">

              <tbody>
                <% @bookmarks.each do |bookmark| %>
                  <% @user_id = bookmark.user_id %>
                  <% user = User.find(@user_id) %>
                    <tr class="result text-left">
                      <td style="width: 50%">
                        <%= link_to user_diaries_path(user), class: "result-link" do%>
                          <%= user.nickname %> <%= user.name %>
                        <% end %>
                      </td>
                      <td class="text-right" style="width: 50%">
                        <% if logged_in? && current_user != user %>
                          <%= render 'relationships/follow_button_area', user: user %>
                        <% end %>
                      </td>
                    </tr>
                <% end %>
              </tbody>
            </table>
              <div class="row justify-content-center">
                <%== pagy_bootstrap_nav(@pagy) %>
              </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to 'back', user_diaries_path(@user.name), class: "btn btn-normal" %>
      </div>
    </div>
  </div>
</div>

<%= link_to "write diary", new_user_diary_path(current_user), class: "btn-circle-border" %>
