<% content_for(:title, "edit profile") %>

<div class="container">
  <div class="row justify-content-center">
    <div class="resulting col-10">
      
      <h1 class="result"><%= current_user.nickname %> edit profile</h1>
      
      <div class="row justify-content-center">
        <div class="edit-profile col-6">
          <%= simple_form_for @user, url: profiles_path, local: true do |f| %>
            <div class="form-group">
              <%= f.input :name, class: 'form-control mb-3', hint: '半角英数字のみ使用できます' %>
            </div>
            <div class="form-group">
              <%= f.input :email, class: 'form-control mb-3' %>
            </div>
            <div class="form-group">  
              <%= f.input :password, class: 'form-control mb-3', label: 'reset password', hint: '半角英数字6−12文字を入力してください' %>
            </div>
            <div class="form-group">  
              <%= f.input :password_confirmation, class: 'form-control mb-3' %>
            </div>
            <div class="text-center">
              <%= f.button :submit, class: 'btn-normal' %>
            </div>
          <% end %>
          <div class="text-center">
            <%= link_to '退会', user_path(@user), method: :delete, data: { confirm: '退会してもよろしいですか？' }, class: "withdraw" %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
