<%= simple_form_for diary, url: url, local: true do |f| %>
  
  <div class="form-group">
    <%= f.input :start_time, as: :date, html5: true,
        input_html: { value: Time.now.strftime("%Y-%m-%d") } ,
        class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <%= f.label :feeling %>
  <div class="area">
  <input type="radio" name="tab_name" id="tab1" checked>
    <label class="tab_class" for="tab1">ðŸ˜„</label>
      <div class="content_class">
        <p>
          <%= f.radio_button :feeling, 'ðŸ˜€', id: 'diary_feeling1', checked: 'checked' %>
          <%= f.label :feeling1, 'ðŸ˜€' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_1.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜ƒ', id: 'diary_feeling2' %>
          <%= f.label :feeling2, 'ðŸ˜ƒ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_2.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜„', id: 'diary_feeling3' %>
          <%= f.label :feeling3, 'ðŸ˜„' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_3.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜', id: 'diary_feeling4' %>
          <%= f.label :feeling4, 'ðŸ˜' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_4.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜†', id: 'diary_feeling5' %>
          <%= f.label :feeling5, 'ðŸ˜†' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_5.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜…', id: 'diary_feeling6' %>
          <%= f.label :feeling6, 'ðŸ˜…' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_6.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜‚', id: 'diary_feeling7' %>
          <%= f.label :feeling7, 'ðŸ˜‚' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_7.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤£', id: 'diary_feeling8' %>
          <%= f.label :feeling8, 'ðŸ¤£' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_8.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜‰', id: 'diary_feeling9' %>
          <%= f.label :feeling9, 'ðŸ˜‰' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_9.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜Š', id: 'diary_feeling10' %>
          <%= f.label :feeling10, 'ðŸ˜Š' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_10.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜‡', id: 'diary_feeling11' %>
          <%= f.label :feeling11, 'ðŸ˜‡' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_11.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤—', id: 'diary_feeling19' %>
          <%= f.label :feeling19, 'ðŸ¤—' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_19.svg' %>">
          <% end %>
          
          <%= f.radio_button :feeling, 'ðŸ˜‹', id: 'diary_feeling20' %>
          <%= f.label :feeling20, 'ðŸ˜‹' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_20.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜', id: 'diary_feeling24' %>
          <%= f.label :feeling24, 'ðŸ˜' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_24.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜Ž', id: 'diary_feeling27' %>
          <%= f.label :feeling27, 'ðŸ˜Ž' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_27.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ™‚', id: 'diary_feeling31' %>
          <%= f.label :feeling31, 'ðŸ™‚' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_31.svg' %>">
          <% end %>

        </p>
      </div>
  
  <input type="radio" name="tab_name" id="tab2" >
    <label class="tab_class" for="tab2">ðŸ¥³</label>
      <div class="content_class">
        <p>
          <%= f.radio_button :feeling, 'ðŸ¤©', id: 'diary_feeling12' %>
          <%= f.label :feeling12, 'ðŸ¤©' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_12.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¥°', id: 'diary_feeling13' %>
          <%= f.label :feeling13, 'ðŸ¥°' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_13.svg' %>">
          <% end %>
      
          <%= f.radio_button :feeling, 'ðŸ˜', id: 'diary_feeling14' %>
          <%= f.label :feeling14, 'ðŸ˜' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_14.svg' %>">
          <% end %>
      
          <%= f.radio_button :feeling, 'ðŸ˜˜', id: 'diary_feeling15' %>
          <%= f.label :feeling15, 'ðŸ˜˜' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_15.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜—', id: 'diary_feeling16' %>
          <%= f.label :feeling16, 'ðŸ˜—' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_16.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜š', id: 'diary_feeling17' %>
          <%= f.label :feeling17, 'ðŸ˜š' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_17.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜™', id: 'diary_feeling18' %>
          <%= f.label :feeling18, 'ðŸ˜™' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_18.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜›', id: 'diary_feeling21' %>
          <%= f.label :feeling21, 'ðŸ˜›' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_21.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜œ', id: 'diary_feeling22' %>
          <%= f.label :feeling22, 'ðŸ˜œ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_22.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤ª', id: 'diary_feeling23' %>
          <%= f.label :feeling23, 'ðŸ¤ª' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_23.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤‘', id: 'diary_feeling25' %>
          <%= f.label :feeling25, 'ðŸ¤‘' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_25.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¥³', id: 'diary_feeling26' %>
          <%= f.label :feeling26, 'ðŸ¥³' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_26.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤¤', id: 'diary_feeling28' %>
          <%= f.label :feeling28, 'ðŸ¤¤' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_28.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜³', id: 'diary_feeling29' %>
          <%= f.label :feeling29, 'ðŸ˜³' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_29.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤“', id: 'diary_feeling37' %>
          <%= f.label :feeling37, 'ðŸ¤“' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_37.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜Œ', id: 'diary_feeling38' %>
          <%= f.label :feeling38, 'ðŸ˜Œ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_38.svg' %>">
          <% end %>
        
        </p>
      </div>
  
  <input type="radio" name="tab_name" id="tab3" >
    <label class="tab_class" for="tab3">ðŸ¤”</label>
      <div class="content_class">
        <p>
          <%= f.radio_button :feeling, 'ðŸ˜²', id: 'diary_feeling30' %>
          <%= f.label :feeling30, 'ðŸ˜²' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_30.svg' %>">
          <% end %>
          
          <%= f.radio_button :feeling, 'ðŸ˜¬', id: 'diary_feeling36' %>
          <%= f.label :feeling36, 'ðŸ˜¬' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_36.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤­', id: 'diary_feeling44' %>
          <%= f.label :feeling44, 'ðŸ¤­' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_44.svg' %>">
          <% end %>
      
          <%= f.radio_button :feeling, 'ðŸ¤«', id: 'diary_feeling45' %>
          <%= f.label :feeling45, 'ðŸ¤«' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_45.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤”', id: 'diary_feeling46' %>
          <%= f.label :feeling46, 'ðŸ¤”' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_46.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤', id: 'diary_feeling47' %>
          <%= f.label :feeling47, 'ðŸ¤' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_47.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤¨', id: 'diary_feeling48' %>
          <%= f.label :feeling48, 'ðŸ¤¨' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_48.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ§', id: 'diary_feeling49' %>
          <%= f.label :feeling49, 'ðŸ§' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_49.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜', id: 'diary_feeling50' %>
          <%= f.label :feeling50, 'ðŸ˜' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_50.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜’', id: 'diary_feeling51' %>
          <%= f.label :feeling51, 'ðŸ˜’' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_51.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ™ƒ', id: 'diary_feeling32' %>
          <%= f.label :feeling32, 'ðŸ™ƒ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_32.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ™„', id: 'diary_feeling52' %>
          <%= f.label :feeling52, 'ðŸ™„' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_52.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤¥', id: 'diary_feeling53' %>
          <%= f.label :feeling53, 'ðŸ¤¥' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_53.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¥º', id: 'diary_feeling67' %>
          <%= f.label :feeling67, 'ðŸ¥º' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_67.svg' %>">
          <% end %>

        </p>
      </div>


  <input type="radio" name="tab_name" id="tab4" >
    <label class="tab_class" for="tab4">ðŸ˜¢</label>
      <div class="content_class">
        <p>
          <%= f.radio_button :feeling, 'ðŸ˜¥', id: 'diary_feeling72' %>
          <%= f.label :feeling72, 'ðŸ˜¥' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_72.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜¢', id: 'diary_feeling75' %>
          <%= f.label :feeling75, 'ðŸ˜¢' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_75.svg' %>">
          <% end %>
      
          <%= f.radio_button :feeling, 'ðŸ˜­', id: 'diary_feeling76' %>
          <%= f.label :feeling76, 'ðŸ˜­' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_76.svg' %>">
          <% end %>
  
          <%= f.radio_button :feeling, 'ðŸ˜“', id: 'diary_feeling74' %>
          <%= f.label :feeling74, 'ðŸ˜“' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_74.svg' %>">
          <% end %>
      
          <%= f.radio_button :feeling, 'ðŸ˜”', id: 'diary_feeling54' %>
          <%= f.label :feeling54, 'ðŸ˜”' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_54.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜£', id: 'diary_feeling78' %>
          <%= f.label :feeling78, 'ðŸ˜£' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_78.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜©', id: 'diary_feeling80' %>
          <%= f.label :feeling80, 'ðŸ˜©' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_80.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜µ', id: 'diary_feeling57' %>
          <%= f.label :feeling57, 'ðŸ˜µ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_57.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜·', id: 'diary_feeling59' %>
          <%= f.label :feeling59, 'ðŸ˜·' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_59.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤•', id: 'diary_feeling60' %>
          <%= f.label :feeling60, 'ðŸ¤•' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_60.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤¢', id: 'diary_feeling61' %>
          <%= f.label :feeling61, 'ðŸ¤¢' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_61.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤®', id: 'diary_feeling62' %>
          <%= f.label :feeling62, 'ðŸ¤®' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_62.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤§', id: 'diary_feeling63' %>
          <%= f.label :feeling63, 'ðŸ¤§' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_63.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¥µ', id: 'diary_feeling64' %>
          <%= f.label :feeling64, 'ðŸ¥µ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_64.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¥¶', id: 'diary_feeling65' %>
          <%= f.label :feeling65, 'ðŸ¥¶' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_65.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¥´', id: 'diary_feeling66' %>
          <%= f.label :feeling66, 'ðŸ¥´' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_66.svg' %>">
          <% end %>
        </p>
      </div>
    
  <input type="radio" name="tab_name" id="tab5" >
    <label class="tab_class" for="tab5">ðŸ˜«</label>
      <div class="content_class">
        <p>
          <%= f.radio_button :feeling, 'ðŸ˜', id: 'diary_feeling33' %>
          <%= f.label :feeling33, 'ðŸ˜' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_33.svg' %>">
          <% end %>
  
          <%= f.radio_button :feeling, 'ðŸ˜¶', id: 'diary_feeling34' %>
          <%= f.label :feeling34, 'ðŸ˜¶' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_34.svg' %>">
          <% end %>
  
          <%= f.radio_button :feeling, 'ðŸ˜‘', id: 'diary_feeling35' %>
          <%= f.label :feeling35, 'ðŸ˜‘' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_35.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜•', id: 'diary_feeling39' %>
          <%= f.label :feeling39, 'ðŸ˜•' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_39.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜Ÿ', id: 'diary_feeling40' %>
          <%= f.label :feeling40, 'ðŸ˜Ÿ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_40.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ™', id: 'diary_feeling41' %>
          <%= f.label :feeling41, 'ðŸ™' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_41.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜–', id: 'diary_feeling77' %>
          <%= f.label :feeling77, 'ðŸ˜–' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_77.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜«', id: 'diary_feeling81' %>
          <%= f.label :feeling81, 'ðŸ˜«' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_81.svg' %>">
          <% end %>
          
          <%= f.radio_button :feeling, 'ðŸ˜ª', id: 'diary_feeling55' %>
          <%= f.label :feeling55, 'ðŸ˜ª' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_55.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜´', id: 'diary_feeling56' %>
          <%= f.label :feeling56, 'ðŸ˜´' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_56.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜¦', id: 'diary_feeling68' %>
          <%= f.label :feeling68, 'ðŸ˜¦' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_68.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜§', id: 'diary_feeling69' %>
          <%= f.label :feeling69, 'ðŸ˜§' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_69.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜¨', id: 'diary_feeling70' %>
          <%= f.label :feeling70, 'ðŸ˜¨' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_70.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜°', id: 'diary_feeling71' %>
          <%= f.label :feeling71, 'ðŸ˜°' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_71.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜±', id: 'diary_feeling73' %>
          <%= f.label :feeling73, 'ðŸ˜±' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_73.svg' %>">
          <% end %>

        </p>
      </div>
    
  <input type="radio" name="tab_name" id="tab6" >
    <label class="tab_class" for="tab6">ðŸ˜¤</label>
      <div class="content_class">
        <p>
          <%= f.radio_button :feeling, 'ðŸ¤¯', id: 'diary_feeling58' %>
          <%= f.label :feeling58, 'ðŸ¤¯' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_58.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜¤', id: 'diary_feeling82' %>
          <%= f.label :feeling82, 'ðŸ˜¤' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_82.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜¡', id: 'diary_feeling83' %>
          <%= f.label :feeling83, 'ðŸ˜¡' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_83.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜ ', id: 'diary_feeling84' %>
          <%= f.label :feeling84, 'ðŸ˜ ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_84.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ¤¬', id: 'diary_feeling85' %>
          <%= f.label :feeling85, 'ðŸ¤¬' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_85.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ˜ˆ', id: 'diary_feeling86' %>
          <%= f.label :feeling86, 'ðŸ˜ˆ' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_86.svg' %>">
          <% end %>

          <%= f.radio_button :feeling, 'ðŸ‘¿', id: 'diary_feeling87' %>
          <%= f.label :feeling87, 'ðŸ‘¿' do %>
            <img src="<%= asset_pack_path 'media/images/emoji_87.svg' %>">
          <% end %>
          
        </p>
      </div>
    </div>
  </div>

  <div class="form-group">
    <%= f.input :body, class: 'form-control', hint: 'çµµæ–‡å­—ã§ã©ã‚“ãªä¸€æ—¥ã ã£ãŸã®ã‹è¡¨ã—ã¦ã¿ã¾ã—ã‚‡ã†ï¼ ä¾‹:ðŸŽ‚ðŸŽ‰ðŸŽðŸ¥‚' %>
  </div>


  <div class="submit text-center">
    <%= f.button :submit, class: "btn-normal" %>
  </div>

<% end %>
