<%= form_with model: diary, url: url, local: true do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= f.label :start_time %></br>
    <%= f.date_select :start_time, class: 'form-control' %>
  </div>
  
  <div class="form-group">
    <div class="smile">
      <%= f.label :feeling, "ðŸ˜€" %>
      <%= f.radio_button :feeling, "ðŸ˜€" %>

      <%= f.label :feeling, 'ðŸ˜ƒ' %>
      <%= f.radio_button :feeling, 'ðŸ˜ƒ' %>

      <%= f.label :feeling, 'ðŸ˜„' %>
      <%= f.radio_button :feeling, 'ðŸ˜„' %>

      <%= f.label :feeling, 'ðŸ˜' %>
      <%= f.radio_button :feeling, 'ðŸ˜' %>

      <%= f.label :feeling, 'ðŸ˜†' %>
      <%= f.radio_button :feeling, 'ðŸ˜†' %>

      <%= f.label :feeling, 'ðŸ˜…' %>
      <%= f.radio_button :feeling, 'ðŸ˜…' %>

      <%= f.label :feeling, 'ðŸ˜‚' %>
      <%= f.radio_button :feeling, 'ðŸ˜‚' %>

      <%= f.label :feeling, 'ðŸ¤£' %>
      <%= f.radio_button :feeling, 'ðŸ¤£' %>

      <%= f.label :feeling, 'ðŸ˜‰' %>
      <%= f.radio_button :feeling, 'ðŸ˜‰' %>

      <%= f.label :feeling, 'ðŸ˜Š' %>
      <%= f.radio_button :feeling, 'ðŸ˜Š' %>

      <%= f.label :feeling, 'ðŸ˜‡' %>
      <%= f.radio_button :feeling, 'ðŸ˜‡' %>

      <%= f.label :feeling, 'ðŸ¤©' %>
      <%= f.radio_button :feeling, 'ðŸ¤©' %>
    </div>

    <div class="love">
      <%= f.label :feeling, 'ðŸ¥°' %>
      <%= f.radio_button :feeling, 'ðŸ¥°' %>

      <%= f.label :feeling, 'ðŸ˜' %>
      <%= f.radio_button :feeling, 'ðŸ˜' %>

      <%= f.label :feeling, 'ðŸ˜˜' %>
      <%= f.radio_button :feeling, 'ðŸ˜˜' %>

      <%= f.label :feeling, 'ðŸ˜—' %>
      <%= f.radio_button :feeling, 'ðŸ˜—' %>

      <%= f.label :feeling, 'ðŸ˜š' %>
      <%= f.radio_button :feeling, 'ðŸ˜š' %>

      <%= f.label :feeling, 'ðŸ˜™' %>
      <%= f.radio_button :feeling, 'ðŸ˜™' %>

      <%= f.label :feeling, 'ðŸ¤—' %>
      <%= f.radio_button :feeling, 'ðŸ¤—' %>
    </div>

    <div class="happy"
      <%= f.label :feeling, 'ðŸ˜‹' %>
      <%= f.radio_button :feeling, 'ðŸ˜‹' %>

      <%= f.label :feeling, 'ðŸ˜›' %>
      <%= f.radio_button :feeling, 'ðŸ˜›' %>

      <%= f.label :feeling, 'ðŸ˜œ' %>
      <%= f.radio_button :feeling, 'ðŸ˜œ' %>

      <%= f.label :feeling, 'ðŸ¤ª' %>
      <%= f.radio_button :feeling, 'ðŸ¤ª' %>

      <%= f.label :feeling, 'ðŸ˜' %>
      <%= f.radio_button :feeling, 'ðŸ˜' %>

      <%= f.label :feeling, 'ðŸ¤‘' %>
      <%= f.radio_button :feeling, 'ðŸ¤‘' %>

      <%= f.label :feeling, 'ðŸ¥³' %>
      <%= f.radio_button :feeling, 'ðŸ¥³' %>

      <%= f.label :feeling, 'ðŸ˜Ž' %>
      <%= f.radio_button :feeling, 'ðŸ˜Ž' %>

      <%= f.label :feeling, 'ðŸ¤¤' %>
      <%= f.radio_button :feeling, 'ðŸ¤¤' %>
    </div>

    <div class="supprised">
      <%= f.label :feeling, 'ðŸ˜³' %>
      <%= f.radio_button :feeling, 'ðŸ˜³' %>

      <%= f.label :feeling, 'ðŸ˜²' %>
      <%= f.radio_button :feeling, 'ðŸ˜²' %>
    </div>

    <div class="porkerface">
      <%= f.label :feeling, 'ðŸ™‚' %>
      <%= f.radio_button :feeling, 'ðŸ™‚' %>

      <%= f.label :feeling, 'ðŸ™ƒ' %>
      <%= f.radio_button :feeling, 'ðŸ™ƒ' %>

      <%= f.label :feeling, 'ðŸ˜' %>
      <%= f.radio_button :feeling, 'ðŸ˜' %>

      <%= f.label :feeling, 'ðŸ˜¶' %>
      <%= f.radio_button :feeling, 'ðŸ˜¶' %>

      <%= f.label :feeling, 'ðŸ˜‘' %>
      <%= f.radio_button :feeling, 'ðŸ˜‘' %>

      <%= f.label :feeling, 'ðŸ˜¬' %>
      <%= f.radio_button :feeling, 'ðŸ˜¬' %>

      <%= f.label :feeling, 'ðŸ¤“' %>
      <%= f.radio_button :feeling, 'ðŸ¤“' %>

      <%= f.label :feeling, 'ðŸ˜Œ' %>
      <%= f.radio_button :feeling, 'ðŸ˜Œ' %>

      <%= f.label :feeling, 'ðŸ˜•' %>
    <%= f.radio_button :feeling, 'ðŸ˜•' %>

    <%= f.label :feeling, 'ðŸ˜Ÿ' %>
    <%= f.radio_button :feeling, 'ðŸ˜Ÿ' %>

    <%= f.label :feeling, 'ðŸ™' %>
    <%= f.radio_button :feeling, 'ðŸ™' %>

    <%= f.label :feeling, 'ðŸ˜®' %>
    <%= f.radio_button :feeling, 'ðŸ˜®' %>

    <%= f.label :feeling, 'ðŸ˜¯' %>
    <%= f.radio_button :feeling, 'ðŸ˜¯' %>
    </div>

    <div class="doubt">
      <%= f.label :feeling, 'ðŸ¤­' %>
      <%= f.radio_button :feeling, 'ðŸ¤­' %>

      <%= f.label :feeling, 'ðŸ¤«' %>
      <%= f.radio_button :feeling, 'ðŸ¤«' %>

      <%= f.label :feeling, 'ðŸ¤”' %>
      <%= f.radio_button :feeling, 'ðŸ¤”' %>

      <%= f.label :feeling, 'ðŸ¤' %>
      <%= f.radio_button :feeling, 'ðŸ¤' %>

      <%= f.label :feeling, 'ðŸ¤¨' %>
      <%= f.radio_button :feeling, 'ðŸ¤¨' %>

      <%= f.label :feeling, 'ðŸ§' %>
      <%= f.radio_button :feeling, 'ðŸ§' %>

      <%= f.label :feeling, 'ðŸ˜' %>
      <%= f.radio_button :feeling, 'ðŸ˜' %>

      <%= f.label :feeling, 'ðŸ˜’' %>
      <%= f.radio_button :feeling, 'ðŸ˜’' %>

      <%= f.label :feeling, 'ðŸ™„' %>
      <%= f.radio_button :feeling, 'ðŸ™„' %>

      <%= f.label :feeling, 'ðŸ¤¥' %>
      <%= f.radio_button :feeling, 'ðŸ¤¥' %>

      <%= f.label :feeling, 'ðŸ˜”' %>
      <%= f.radio_button :feeling, 'ðŸ˜”' %>

    <div class="tired">
      <%= f.label :feeling, 'ðŸ˜ª' %>
      <%= f.radio_button :feeling, 'ðŸ˜ª' %>

      <%= f.label :feeling, 'ðŸ˜´' %>
      <%= f.radio_button :feeling, 'ðŸ˜´' %>

      <%= f.label :feeling, 'ðŸ˜µ' %>
      <%= f.radio_button :feeling, 'ðŸ˜µ' %>

      <%= f.label :feeling, 'ðŸ¤¯' %>
      <%= f.radio_button :feeling, 'ðŸ¤¯' %>
    </div>

    <div class="sick">
      <%= f.label :feeling, 'ðŸ˜·' %>
      <%= f.radio_button :feeling, 'ðŸ˜·' %>

      <%= f.label :feeling, 'ðŸ¤•' %>
      <%= f.radio_button :feeling, 'ðŸ¤•' %>

      <%= f.label :feeling, 'ðŸ¤¢' %>
      <%= f.radio_button :feeling, 'ðŸ¤¢' %>

      <%= f.label :feeling, 'ðŸ¤®' %>
      <%= f.radio_button :feeling, 'ðŸ¤®' %>

      <%= f.label :feeling, 'ðŸ¤§' %>
      <%= f.radio_button :feeling, 'ðŸ¤§' %>

      <%= f.label :feeling, 'ðŸ¥µ' %>
      <%= f.radio_button :feeling, 'ðŸ¥µ' %>

      <%= f.label :feeling, 'ðŸ¥¶' %>
      <%= f.radio_button :feeling, 'ðŸ¥¶' %>

      <%= f.label :feeling, 'ðŸ¥´' %>
      <%= f.radio_button :feeling, 'ðŸ¥´' %>
    </div>

    <div class="worried">
      <%= f.label :feeling, 'ðŸ¥º' %>
      <%= f.radio_button :feeling, 'ðŸ¥º' %>

      <%= f.label :feeling, 'ðŸ˜¦' %>
      <%= f.radio_button :feeling, 'ðŸ˜¦' %>

      <%= f.label :feeling, 'ðŸ˜§' %>
      <%= f.radio_button :feeling, 'ðŸ˜§' %>

      <%= f.label :feeling, 'ðŸ˜¨' %>
      <%= f.radio_button :feeling, 'ðŸ˜¨' %>

      <%= f.label :feeling, 'ðŸ˜°' %>
      <%= f.radio_button :feeling, 'ðŸ˜°' %>

      <%= f.label :feeling, 'ðŸ˜¥' %>
      <%= f.radio_button :feeling, 'ðŸ˜¥' %>

      <%= f.label :feeling, 'ðŸ˜±' %>
      <%= f.radio_button :feeling, 'ðŸ˜±' %>

      <%= f.label :feeling, 'ðŸ˜“' %>
      <%= f.radio_button :feeling, 'ðŸ˜“' %>
    </div>

    <div class="cried">
      <%= f.label :feeling, 'ðŸ˜¢' %>
      <%= f.radio_button :feeling, 'ðŸ˜¢' %>

      <%= f.label :feeling, 'ðŸ˜­' %>
      <%= f.radio_button :feeling, 'ðŸ˜­' %>

      <%= f.label :feeling, 'ðŸ˜–' %>
      <%= f.radio_button :feeling, 'ðŸ˜–' %>

      <%= f.label :feeling, 'ðŸ˜£' %>
      <%= f.radio_button :feeling, 'ðŸ˜£' %>

      <%= f.label :feeling, 'ðŸ˜ž' %>
      <%= f.radio_button :feeling, 'ðŸ˜ž' %>

      <%= f.label :feeling, 'ðŸ˜©' %>
      <%= f.radio_button :feeling, 'ðŸ˜©' %>

      <%= f.label :feeling, 'ðŸ˜«' %>
      <%= f.radio_button :feeling, 'ðŸ˜«' %>
    </div>

    <div class="angry">
      <%= f.label :feeling, 'ðŸ˜¤' %>
      <%= f.radio_button :feeling, 'ðŸ˜¤' %>

      <%= f.label :feeling, 'ðŸ˜¡' %>
      <%= f.radio_button :feeling, 'ðŸ˜¡' %>

      <%= f.label :feeling, 'ðŸ˜ ' %>
      <%= f.radio_button :feeling, 'ðŸ˜ ' %>

      <%= f.label :feeling, 'ðŸ¤¬' %>
      <%= f.radio_button :feeling, 'ðŸ¤¬' %>

      <%= f.label :feeling, 'ðŸ˜ˆ' %>
      <%= f.radio_button :feeling, 'ðŸ˜ˆ' %>

      <%= f.label :feeling, 'ðŸ‘¿' %>
      <%= f.radio_button :feeling, 'ðŸ‘¿' %>
    </div>
  </div>

  <div class="form-group">
    <%= f.label :body %>
    <%= f.text_field :body, class: 'form-control' %>
  </div>


  <div class="submit">
    <%= f.submit class: "btn btn-primary" %>
  </div>

<% end %>
