<div class="container pt-5">
  <div class="row mb-3">
    <div class="col-lg-8 offset-lg-2">
      <article class="card">
        <div class="card-body">
          <div class='row'>
            <div class='col-md-9'>
              <h3 style='display: inline;'><%= @diary.start_time.strftime("%Y-%m-%d") %></h3>
              <ul class="list-inline">
                <strong>feeling</strong>
                <li class="list-inline-item"><%= @diary.feeling %></li></br>
                <strong>about</strong>
                <li class="list-inline-item"><%= @diary.body %></li>
              </ul>
            </div>
          </div>
        </div>
      </article> 
      <%= link_to user_diaries_path(@user) do %>
        <i class="far fa-hand-point-left"></i>
      <% end %> |
      <% if current_user.id == @diary.user.id %>
        <%= link_to edit_user_diary_path(@diary), id: "button-edit-#{@diary.id}" do %>
          <i class="fa fa-pen"></i>
        <% end %> |
        <%= link_to user_diary_path(@diary), id: "button-delete-#{@diary.id}", method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class="far fa-trash-alt"></i>
        <% end %> | 
      <% end %>
      <%= render 'bookmarks/bookmark_button', { diary: @diary } %>
    </div>
  </div>
</div>
