<% content_for(:title, t('.title', date: @diary.start_time.strftime("%-m/%-e"))) %>

<div class="container">
<div class="row justify-content-center">
<% if @diary.previous.present? %>
  <%= link_to user_diary_path(@user, @diary.previous), class: "btn_arrow" do %>
    <i class="fas fa-angle-double-left"></i>
  <% end %>
<% end %>
  <div class="col-10 col-md-8 text-center">
    <div class="diary-show">
      <h4 class="show-date"><%= @user.nickname %> <%= @diary.start_time.strftime("%b %d,%Y(%a)") %></h4>
      <h3 class="rounded"><%= @diary.feeling %><%= @diary.body %></h3>
        <div class="text-right">
          <%= render 'bookmarks/bookmark_button', { diary: @diary } %>
        </div>

        <% if current_user.id == @diary.user.id %>
          <div class="row justify-content-center">
            <div class="col-12 col-xl-3">
              <%= button_to 'edit', edit_user_diary_path(current_user.name, @diary), id: "button-edit-#{@diary.id}", method: :get, class:'btn btn-normal' %>
            </div>
            <div class="col-12 col-xl-3">
              <%= button_to 'delete', user_diary_path(current_user.name, @diary), id: "button-delete-#{@diary.id}", method: :delete, data: { confirm: "<i class='fa fa-exclamation-circle'></i>
              削除してもよろしいですか?", commit: 'delete', cancel: 'cancel' }, class:'btn btn-normal' %>
            </div>
          </div>
          <div class="text-center">
            <%= button_to 'back', user_diaries_path(@user.name), method: :get, class:'btn btn-normal' %>
          </div>
        <% else %>
          <%= button_to user_diaries_path(@user), id: "button-edit-#{@diary.id}", method: :get, class:'btn-show-back' do %>
            <%= @user.name %>'s diary
          <% end %>
        <% end %>
    </div>
  </div>
  <% if @diary.next.present? %>
    <%= link_to user_diary_path(@user, @diary.next), class: "btn_arrow_back" do %>
      <i class="fas fa-angle-double-right"></i>
    <% end %>
  <% end %>
</div>
</div>

<% if @user == current_user && ( current_user.name != "guest" ) %>
  <%= link_to "https://twitter.com/intent/tweet?text=#{current_user.nickname}#{@diary.start_time.strftime("%-m月%e日")}の日記%0a%22#{@diary.feeling}#{@diary.body}%22%0a%0a#{current_user.name}さんの日記を見てみる→&url=https://www.emory.app/users/#{current_user.name}/diaries&hashtags=絵文字,日記%0a",
        target: '_blank', rel: "noopener noreferrer", class: "btn-social-circle btn-social-circle--twitter" do %>
          <i class="fab fa-twitter"></i>
  <% end %>
<% elsif logged_in? %>
  <%= link_to "write diary", new_user_diary_path(current_user.name), class: "btn-circle-border" %>
<% end %>
