<% content_for(:title, 'diary') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="card col-10 text-center">
      <div class="card-body">
        <div class="card-link text-right">
          <%= render 'bookmarks/bookmark_button', { diary: @diary } %>
        </div>
        <h1 class="card-title"><%= @user.nickname %> <%= @diary.start_time.strftime("%b %d, %Y ( %a )") %></h1>
        <h2 class="card-text rounded"><%= @diary.feeling %><%= @diary.body %></h2>
        <% if current_user.id == @diary.user.id %>
          <div class="btn-group">
            <%= button_to 'edit', edit_user_diary_path(@diary), id: "button-edit-#{@diary.id}", method: :get, class:'btn btn-normal' %>
            <%= button_to 'delete', user_diary_path(@diary), id: "button-delete-#{@diary.id}", method: :delete, data: { confirm: 'Are you sure?' }, class:'btn btn-normal' %>
          </div>
        <% else %>
          <%= button_to user_diaries_path(@user), id: "button-edit-#{@diary.id}", method: :get, class:'btn btn-normal' do %>
            <%= @user.name %>
          <% end %>
        <% end %>
      </div>
    </div>
  </div>
</div>
