<% content_for(:title) %>

<div class='top-wrapper'>
  <div class='home col-12'>

  <% if !logged_in? || (current_user.color == "pink") %>
    <ul class="image-horizontal-scroll">
    <li class="box">
      <div><%= link_to index_path do %>
        <img src="<%= asset_pack_path 'media/images/top.jpg' %>" class="img-responsive" >
        <% end %>
      </div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top1.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top2.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
    <div><img src="<%= asset_pack_path 'media/images/top3.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
    <div><img src="<%= asset_pack_path 'media/images/top4.jpg' %>" class="img-responsive" ></div>
    </li>
    </ul>

    <ul class="image-horizontal-scroll-smart">
    <li class="box">
      <div><%= link_to index_path do %>
        <img src="<%= asset_pack_path 'media/images/top-smart.jpg' %>" class="img-responsive" >
        <% end %>
      </div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top1-smart.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top2-smart.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top3-smart.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top4-smart.jpg' %>" class="img-responsive" ></div>
    </li>
    </ul>
  <% else %>
    <ul class="image-horizontal-scroll">
    <li class="box">
      <div><%= link_to index_path do %>
        <img src="<%= asset_pack_path 'media/images/top-blue.jpg' %>" class="img-responsive" >
        <% end %>
      </div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top1-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top2-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top3-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top4-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    </ul>

    <ul class="image-horizontal-scroll-smart">
    <li class="box">
      <div><%= link_to index_path do %>
        <img src="<%= asset_pack_path 'media/images/top-smart-blue.jpg' %>" class="img-responsive" >
        <% end %>
      </div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top1-smart-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top2-smart-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top3-smart-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top4-smart-blue.jpg' %>" class="img-responsive" ></div>
    </li>
    </ul>
  <% end %>

    <% if !logged_in? %>
    <table class="login-btn2">
      <tr>
        <td><%= button_to t('defaults.login'), login_path, method: :get, class:'btn btn-normal' %></td>
        <td><%= button_to t('defaults.register'), new_user_path, method: :get, class:'btn btn-normal' %></td>
        <td><%= button_to 'guest login', guest_path, method: :post, class:'btn btn-normal' %></td>
      </tr>
    </table>
    <% else %>
    <%= link_to "write diary", new_user_diary_path(current_user.name), class: "btn-circle-border" %>
    <% end %>

  </div>      
</div>
