<% content_for(:title) %>

<div class='top-wrapper'>
  <div class="col-12 home">
    <div class="row justify-content-center">
      <% if !logged_in? %>
        <% if !logged_in? || (current_user.color == "pink") %>
          <img src="<%= asset_pack_path 'media/images/emory_top.jpg' %>" class="top-image">
        <% else %>
          <img src="<%= asset_pack_path 'media/images/emory_top_blue.jpg' %>" class="top-image" >
        <% end %>
        
        <div class="d-flex align-items-center text-center">
          <div class="text-center">
            <p>絵文字だけで日記をつけて
            <br>友達とシェアしませんか？</p>
            <div class="">
              <%= button_to t('defaults.login'), login_path, method: :get, class:'btn btn-normal' %>
            </div>
            <div class="">
              <%= button_to t('defaults.register'), new_user_path, method: :get, class:'btn btn-normal' %>
            </div>
            <div class="">
              <%= button_to 'guest login', guest_path, method: :post, class:'btn btn-normal' %>
            </div>
          </div>
        </div>
      <% else %>
        <div class="text-center">
          <% if !logged_in? || (current_user.color == "pink") %>
            <img src="<%= asset_pack_path 'media/images/emory_top.jpg' %>" class="top-image">
          <% else %>
            <img src="<%= asset_pack_path 'media/images/emory_top_blue.jpg' %>" class="top-image" >
          <% end %>
        </div>
        <div class="d-flex align-items-center text-center">
          <div class="text-center">
            <p>絵文字だけで日記をつけて
            <br>友達とシェアしませんか？</p>
            <div class="">
              <%= button_to t('defaults.mine'), user_diaries_path(current_user), method: :get, class:'btn btn-normal' %>
            </div>
            <div class="">
              <%= button_to t('defaults.logout'), logout_path, method: :delete, data: { confirm: "<i class='fa fa-exclamation-circle'></i>
              ログアウトしますか?", commit: 'logout', cancel: 'cancel' }, class:'btn btn-normal' %>
            </div>
          </div>
        </div>
        <%= link_to "write diary", new_user_diary_path(current_user.name), class: "btn-circle-border" %>
      <% end %>
    </div>
    <div class="row justify-content-center text-center">
      <div class="col-11 card-deck top-card">
        <div class="card">
          <div class="card-body">
            <p>カレンダーの色とグラフをみたら
            <br>感情の変化が一目でわかる！
            <br>疲れた日が続いているのにスグ気付けるよ。</p>
            <img src="<%= asset_pack_path 'media/images/top-calendar.png' %>" class="top-image1">
          </div>
        </div>

        <div class="card">
          <div class="card-body">
            <p>友達の日記をのぞき見👀
            <br>絵文字だけで書かれた日記を見て、
            <br>友達の1日がどんな1日だったのか想像してみてね。</p>
            <img src="<%= asset_pack_path 'media/images/top-show.png' %>" class="top-image1">
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
