<% content_for(:title) %>

<div class='top-wrapper'>
  <div class='home col-12'>

  <div class="login2">
    <% if !logged_in? %>
      <table class="login-btn">
      <tr>
        <td><%= button_to t('defaults.login'), login_path, class:'btn btn-normal' %></td>
        <td><%= button_to t('defaults.register'), new_user_path, class:'btn btn-normal' %></td>
      </tr>
      </table>
    <% end %>
  </div>

    <ul class="image-horizontal-scroll">
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top1.png' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
      <div><img src="<%= asset_pack_path 'media/images/top2.png' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
    <div><img src="<%= asset_pack_path 'media/images/top3.png' %>" class="img-responsive" ></div>
    </li>
    <li class="box">
    <div><img src="<%= asset_pack_path 'media/images/top4.png' %>" class="img-responsive" ></div>
    </li>
    </ul>

    <% if !logged_in? %>
    <table class="login-btn2">
      <tr>
        <td><%= button_to t('defaults.login'), login_path, class:'btn btn-normal' %></td>
        <td><%= button_to t('defaults.register'), new_user_path, class:'btn btn-normal' %></td>
      </tr>
    </table>
    <% else %>
    <%= link_to "write diary", new_user_diary_path(current_user.name), class: "btn-circle-border" %>
    <% end %>

  </div>      
</div>
