<% content_for(:title, 'followings') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="resulting col-12 col-md-10 text-center">

      <h2 class="result"><%= @user.nickname %> followings</h2>
      
      <% if @users.empty? && current_user == @user %>

        <div class="card no-follow">
          <div class="card-body text-center">
            <p class="follow_text">まだフォローしている人がいません。<br>
            友達を検索してフォローしませんか？</p>
            <%= link_to 'search friends', users_path, class: 'btn-show-back' %>
          </div>
        </div>
      <% elsif @users.empty? %>
        <div class="card">
          <div class="card-body text-center">
            <p class="follow_text">まだフォローしている人がいません。
          </div>
        </div>
      <% else %>
        <div class="row justify-content-center" id="contents">
          <div class="col-md-8 col-lg-6 content">
            <table class="result-table table table-borderless">
              <tbody>
                <% @users.each do |user| %>
                  <tr class="result text-left">
                    <td style="width: 50%">
                      <%= link_to user_diaries_path(user), class: "result-link" do%>
                        <%= user.nickname %> <%= user.name %>
                      <% end %>
                    </td>
                    <td class="text-right" style="width: 50%">
                      <% if logged_in? && current_user != user %>
                        <%= render 'relationships/follow_button_area', user: user %>
                      <% end %>
                    </td>
                  </tr>
                <% end %>
              </tbody>
            </table>
            <div class="row justify-content-center">
              <%== pagy_bootstrap_nav(@pagy) %>
            </div>
          </div>
        </div>
      <% end %>
      <div class="text-center">
        <%= link_to 'back', user_diaries_path(@user), class: "btn btn-normal" %>
      </div>
    </div>
  </div>
</div>

<%= link_to "write diary", new_user_diary_path(current_user), class: "btn-circle-border" %>
