<header>
  <nav class='navbar navbar-expand-lg navigation navbar-light bg-light'>
    <%= link_to 'emory', root_path %>
    
    <button class='navbar-toggler' data-toggle='collapse' data-target='#navbarSupportedContent'
      aria-controls='navbarSupportedContent' aria-expanded='false' aria-label='Toggle navigation'>
      <span class='navbar-toggler-icon'></span>
    </button>

    <div class='collapse navbar-collapse' id='navbarSupportedContent'>
      <ul class='navbar-nav ml-auto main-nav align-items-center'>
        <li class='nav-item'>
          <%= link_to t('defaults.mine'), diaries_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='#'>follower's diary</a>
        </li>
        <li class='nav-item'>
          <%= link_to t('defaults.followers'), users_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to t('defaults.logout'), logout_path, method: :delete, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <%= link_to t('defaults.new'), new_diary_path, class: 'nav-link' %>
        </li>
        <li class='nav-item'>
          <a class='nav-link' href='#'>💐</a>
        </li>
      </ul>
    </div>
  </nav>
</header>
