<% content_for(:title, 'login') %>

<div class="container">
  <div class="row justify-content-center">
    <div class="resulting col-10">
      
      <h1 class="result">📖 <%= t '.title' %></h1>
      <div class="row justify-content-center">
        <div class="register col-6">
          <%= form_with url: login_path, method: :post, local: true do |f| %>
            <div class="form-group">
              <%= f.label :name, User.human_attribute_name(:name) %>
              <%= f.text_field :name, class: "form-control" %>
            </div>
            <div class="form-group">
              <%= f.label :password, User.human_attribute_name(:password) %>
              <%= f.password_field :password, class: "form-control" %>
            </div>
            <div class="text-center">
              <%= f.submit t('defaults.login'), class: "btn btn-primary" %>
            </div>
          <% end %>
          <div class='text-center'>
            <%= link_to t('.to_register_page'), new_user_path %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

      
      